<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje del sistema</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="img-container">
        <div class="title-container">
            <div>
                Sistema: {{#if mensaje}} {{mensaje}} {{else}} Oops! se ha presentado un fallo {{/if}}
            </div>
        </div>
        <img src="/images/undraw_warning_re_eoyh.svg" alt="Error">
    </div>
</body>

</html>